/* Client Section */
#client {
  background-color: #c4c4c4;
}

#client .client {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 120px 10px;
  width: 80vw;
}
.client-box {
  margin-top: 50px;
}

.client-box img {
  width: 200px;
  height: 200px;
}

.client-box p {
  margin-top: 20px;
  width: 50vw;
}

@media (min-width: 768px) {
  .client-box p {
    margin-top: 35px;
  }
}
@media (min-width: 992px) {
  .all-client-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .client-box {
    width: 30%;
    padding: 10px;
  }
  .client-box p {
    width: 100%;
    padding: 5px;
  }
}
