/* Contact Section */
#contact .contact-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 80px 20px;
  width: 80vw;
}

.contact-form .error-message,
.contact-form .error-message p {
  color: red;
  font-weight: 500;
  font-size: 1.5rem;
  margin-top: 20px;
}

.contact-form .contact-info p {
  font-weight: 700;
  font-size: 1.5rem;
  padding: 50px 10px 5px;
}

.contact-form .contact-info input,
.contact-form textarea,
.home {
  font-weight: 500;
  font-size: 2rem;
}

.home {
  text-transform: uppercase;
}

.contact-form input,
.contact-form textarea {
  margin-top: 10px;
  width: 70vw;
  border: solid 2px #000;
}

.contact-form .buttons input,
.contact-form textarea {
  margin: 15px 5px;
  text-transform: uppercase;
}

.contact-form .buttons input .back .contact-footer {
  position: fixed;
  bottom: 0;
}

@media (min-width: 768px) {
  .contact-form .contact-info p {
    font-size: 1.7rem;
  }
  .contact-form input,
  .contact-form textarea {
    margin: 20px;
    width: 100%;
  }
  .contact-form input {
    padding: 10px;
  }
}
@media (min-width: 992px) {
  .contact-form input,
  .contact-form textarea {
    max-width: 40vw;
  }
}
