/*
|------------------------------------------------------
|  404-image contents
|------------------------------------------------------
*/

.bnr .bnr-img {
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

.bnr img {
  width: 100%;
}

.bnr .txt-area {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bnr .cta {
  display: inline-block;
  padding: 10px 30px;
  color: #a1a0a0;
  background-color: transparent;
  border: 2px solid cadetblue;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-top: 50px;
  transition: 0.3s ease;
  transition-property: background-color, color;
}
.bnr .cta:hover {
  color: #fff;
  background-color: cadetblue;
}

/*
|------------------------------------------
|------------------------------------------
|------------------------------------------
|  Media Query
|------------------------------------------
|------------------------------------------
|------------------------------------------
*/

@media (min-width: 580px) {
  .container {
    padding: 0 45px;
  }
}

@media (min-width: 768px) {
  .d-ipad-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .header .container {
    display: flex;
  }

  .header .gn {
    margin-left: auto;
  }

  .header .gn ul {
    margin-top: 30px;
  }

  .bnr .bnr-img {
    /*calc(*5/12*100)*/
    flex-basis: 41.67777%;
    max-width: 41.67777%;
  }

  .bnr .txt-area {
    /*calc(*5/12*100)*/
    flex-basis: 41.67777%;
    max-width: 41.67777%;
    margin-top: 80px;
  }
}

@media (min-width: 992px) {
  .bnr .bnr-img {
    flex-basis: 50%;
    max-width: 50%;
  }

  .bnr .txt-area {
    margin-top: 140px;
  }

  .section-heading {
    font-size: 28px;
    padding-bottom: 25px;
  }

  .sub-heading {
    font-weight: 600;
    font-size: 20px;
    padding: 20px 30px;
  }
}

@media (min-width: 1200px) {
  .section-heading {
    font-size: 40px;
  }

  .sub-heading {
    font-size: 28px;
  }

  .header .gn li {
    padding-left: 30px;
  }
}

@media (min-width: 1440px) {
  .bnr .txt-area {
    margin-top: 270px;
  }

  .bnr .btn {
    background: yellow;
    color: #000;
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px;
    padding: 24px 50px;
    margin: 20px 0;
    border: 1px solid;
    min-width: 300px;
    display: inline-block;
  }
}
