/* Expertise Section */
#expertise .expertise {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  width: 80vw;
}

#expertise .skill-list {
  margin-top: 30px;
}

#expertise .skill-list li {
  margin: 15px;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  #expertise .skill-list li {
    margin: 30px;
    font-size: 1.8rem;
  }
}
@media (min-width: 992px) {
  #expertise p {
    margin: 30px;
  }
  #expertise .skill-list ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  #expertise .skill-list li {
    width: 25%;
  }
}
