// $mainColor: #15023a;

$m-width: 425px;
$t-width: 768px;
$l-width: 1024px;
$d-width: 1440px;

@mixin mobile {
  @media (max-width: #{$m-width}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$t-width}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$l-width}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$d-width}) {
    @content;
  }
}
