/* Project Section */
#project {
  background-color: #c4c4c4;
}

#project .project {
  flex-direction: column;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 80px 10px;
  width: 80vw;
}

.project-item {
  position: relative;
  margin: 20px;
}

.project-item a::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
}

.project-item .project-info {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}

.project-item .project-info h4,
.project-item .project-info p {
  color: #fff;
  font-weight: 700;
  font-size: 1.4rem;
  z-index: 2;
}

@media (min-width: 768px) {
  .project-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 30px;
  }
  .project-item {
    width: 43%;
    position: relative;
  }
}
@media (min-width: 992px) {
}
